body{
    margin: 14% 0;
}
header > a{
  color: #786254;
  padding-left: 1%;
}

h1{
  margin: 2% 0 5% 0;
}

main a{
  font-size: 125%;
  color: white;
  padding: 0 0 3% 1%;
  text-decoration: none;
}

main div{
    border-bottom: solid 2px #D94F30;
    margin: 5% 0;
}

